<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>About</title>
</head>
<body class="text-center">
    <div class="Port-home">
        <ul class="nav bg-primary" >
            <li class="nav-item">
                <a class="nav-link active text-white" href="/">Home</a>
            </li>
        </ul>
    </div>
    <div class="container">  
        <h1 class="display-1 mt-5">About</h1>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://sdirc-my.sharepoint.com/:p:/r/personal/noah_fuller_sdirc_org/_layouts/15/Doc.aspx?sourcedoc=%7B3A073F0F-0290-4EB4-ABC2-1E6426740AA6%7D&file=Presentation.pptx&action=edit&mobileredirect=true" target="blank">
                    <h1 class="text-center">Power Point</h1>
                </a>
            </div>
        </div>
    </div>
</body>
</html>