<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>
</head>
<body class="text-center">
    <nav>
        <ul class="nav bg-primary" >
            <li class="nav-item">
                    <a class="nav-link active text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>
    <h1 class="display-1 mt-5">Noah Fuller</h1>
    <p class="lead">
        An appreciation page for the man in charge. 
    </p>
</body>
</html>