<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Portfolio</title>
</head>
<body class="text-center"> 
    <div class="Port-home">
        <ul class="nav bg-primary" >
            <li class="nav-item">
                <a class="nav-link active text-white" href="/">Home</a>
            </li>
        </ul>
    </div>
    <div class="container">  
        <h1 class="display-1 mt-5">Portfolio</h1>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://scratch.mit.edu/projects/315564520/" target="blank">
                    <h1 class="text-center">Explore Game</h1>
                </a>
                <img src="/home/alpha/Pictures/Screenshot from 2019-06-13 12-46-31.png" alt="image of explore game">
            </div>
            <div class="col-sm">
                <a href="https://scratch.mit.edu/projects/315295785/" target="blank">
                    <h1 class="text-center">Catching Game</h1>
                </a>
                <img src="/home/alpha/Pictures/Screenshot from 2019-06-13 12-55-57.png" alt="image of catching game">
            </div>
        </div>
    </div>
</body>
</html>